body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #34495C;
}

a {
  color: #00B7FF;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image-name {
    text-transform: capitalize;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
  }
  .image-container {
    padding: 10px;
    background-color: white;
    img {
      height: 200px;
      width: auto;
    }
  }
  .btn {
    margin-top: 30px;
    padding: 10px;
    background-color: #50AE55;
    color: white;
  }
}
